<!-- <div class="row">
    <div class="col-xs-12">
        <img src="" class="img-responsive" alt="" srcset="">
    </div>
</div> -->
<div class="row" *ngIf="recipe">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
        <p>{{recipe.description}}</p>
        <img [src]="recipe.imagePath" alt="{{recipe.name}}" srcset="" style="max-width: 275px;"
            class="rounded img-fluid">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Top Shopping List</a></li>
                <li><a href="#">Edit Recipe</a></li>
                <li><a href="#">Delete Recipe</a></li>
            </ul>
        </div>
        <div class="col-12">
            <p>description</p>
            <p>Ingredients</p>
        </div>
    </div>
</div>