<div class="container">
    <form>
        <div class="row mb-3">
            <div class="col-sm-5 form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" #nameInputName placeholder="name" class="form-control">
            </div>
            <div class="col-sm-2 form-group">
                <label class="form-label" for="name">Amount</label>
                <input type="number" id="amount" class="form-control" #amountInput>
            </div>
        </div>
        <div class="container row" role="toolbar" aria-label="Toolbar with button groups">
            <div class="col-xs-12 btn-toolbar">
                <div class="btn-group me-2" role="group">
                    <button class="btn btn-success  mr-2" type="button" (click)="onAddItem()">Add</button>
                </div>
                <div class="btn-group me-2" role="group">
                    <button class="btn btn-danger mr-2" type="button">Delete</button>
                </div>

                <div class="btn-group" role="group">
                    <button class="btn btn-primary" type="button">Clear</button>
                </div>

            </div>

        </div>
    </form>
</div>